@model List<MetersApp.ViewModels.IndicationPanelModel>
@{
    foreach(var panelModel in Model)
    {  
        <div class="panel">
            <a class="panel_anchor" href="~/Home/Resource/@panelModel.Id">
                <div>
                    <h2 class="title">@panelModel.Title</h2>
                    <h3 class="span-center">@panelModel.Value</h3>
                </div>          
                <div class="span-bottom">
                    <span class="span-down @(panelModel.Delta < 0 ? "negative" : "positive")">@($"{(panelModel.Delta < 0 ? "" : "+")}{panelModel.Delta}")</span>
                    <span class="span-down">@panelModel.Date</span>
                </div>
            </a>
        </div>
}
}